$buttonBack:rgb(89,41,227);
$linearColor:linear-gradient(to right top, #485acf, #5659cf, #6359ce, #6e58cd, #7857cc, #8256cb, #8c56ca, #9555c9, #a154c8, #ad53c6, #b851c4, #c250c1);
$whiteColor:#ffffff;
$thBackColor:#362F4B;
$oddColor:#e6e6e6;
$buttonLinear:linear-gradient(90deg, black 0%, #cc3300 100%);

h3 {
  color: $buttonBack;
  font-family: Sans,sans-serif;
  margin-bottom: 19px;
  display: block;
  font-size: 22px;
  }
.tableStyle{
  position: relative;
  box-sizing: border-box;
  display: table;
  margin:20px auto;
  border-collapse: separate;
  text-indent: initial;
  width: 100%;
  border: none;
  background-color: $whiteColor;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 15px;
}
.thStyle{
  color:$whiteColor;
  height: 40px;
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}
.trStyle{
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.tdStyle{
  text-align: center;
  height: 40px;
  display: table-cell;
  vertical-align: inherit;
}
.theadStyle{
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.tbodyStyle{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.theadStyle .trStyle:first-child{
  background: $buttonLinear;
}
.theadStyle .thStyle{
  color: white;
}
.trStyle:nth-of-type(odd) {
  background: $oddColor;
}
.trStyle:nth-of-type(even) {
  background:$whiteColor;
}
.tableDiv{
  width:960px;
}
@media only screen and (max-width: 992px) {
  .tableDiv{
    overflow-x: scroll;
  } 
}
